// color
$colorpink: #ffe6ee;
$colorpink1: #ffdbcd;
$colorwhite: white;
$colorred: #ff6666;
$font-weight: bold;

// size
$fontsize1: 50px;
$fontsize2: 30px;
$fontsize3: 60px;
$size1: 150px;
$sizeheight1: 720px;
$width50:50%;